title 報價產出系統ing
head
     //     <!-- Latest compiled and minified JavaScript -->
    script(src="/thirdparty/jquery-3.1.1/jquery-3.1.1.min.js")
    script(src="/thirdparty/bootstrap-3.3.7/js/bootstrap.min.js")
    script(src="/thirdparty/jquery-ui-1.12.1.auto/js/jquery-ui.min.js")
    //      <!-- coustome  -->  
    script(src="/utils/country.js")
    //      <!-- Latest compiled and minified CSS -->
    link(href="/styles/layout.css", rel='stylesheet')
    link(href="/thirdparty/bootstrap-3.3.7/css/bootstrap.min.css", rel='stylesheet')
    link(href="/thirdparty/bootstrap-3.3.7/css/bootstrap-theme.min.css", rel='stylesheet')
    link(href="/thirdparty/jquery-ui-1.12.1.auto/css/jquery-ui.min.css", rel='stylesheet')
include index.html