include ../template/header.html
head
    title 產生報價單
    <!-- Latest compiled and minified JavaScript -->
    script(src="/thirdparty/jquery-3.1.1/jquery-3.1.1.min.js")       
    script(src="/thirdparty/bootstrap-3.3.7/js/bootstrap.min.js")
    script(src="/thirdparty/jquery-ui-1.12.1.auto/js/jquery-ui.min.js")
    <!-- coustome  -->  
    script(src="/utils/country.js")
    script(src="/actions/quotation_gen.js")
    <!-- Latest compiled and minified CSS -->
    link(href="/styles/layout.css", rel='stylesheet')
    link(href="/thirdparty/bootstrap-3.3.7/css/bootstrap.min.css", rel='stylesheet')
    link(href="/thirdparty/bootstrap-3.3.7/css/bootstrap-theme.min.css", rel='stylesheet')
    link(href="/thirdparty/jquery-ui-1.12.1.auto/css/jquery-ui.min.css", rel='stylesheet')

.wrapper.row2
    #breadcrumb.hoc.clear
        ul.upper_tag
        li 
            a(href="/") 報價檔案
        li 
            a(href="/cost/view_cost") 產生報價檔案
        li 
            a(href="/cost/view_cost" id="level_3") #{gen_type}



div(id='gen_type') #{gen_type}
include gen_quotation.html
include ../template/footer.html
