      <form id="cost_info" action="/cost/create" method="POST">
        <div class="form-group row normal_form">
          
          <label for="example-text-input" class="col-xs-2 col-form-label"><span class="required">*</span>主類別</label>
          <div id="form_main_type" class="col-xs-10">
            <label class="radio-inline"><input type="radio" name="type_main" value="trademark">商標</label>
            <label class="radio-inline"><input type="radio" name="type_main" value="pattern">專利</label> 
          </div>
        </div>
        <div class="form-group row normal_form">
          <label for="example-text-input" class="col-xs-2 col-form-label">專利次類別</label>
          <div id="form_pattern_type" class="col-xs-10">
            <label class="radio-inline"><input type="radio" name="type_pattern" value="new">新型</label>
            <label class="radio-inline"><input type="radio" name="type_pattern" value="design">設計</label>
            <label class="radio-inline"><input type="radio" name="type_pattern" value="invent">發明</label>
          </div>
        </div>
        <div class="form-group row normal_form">
          <label for="example-text-input" class="col-xs-2 col-form-label"><span class="required">*</span>狀態類別</label>
          <div id="form_status_type" class="col-xs-10">
            <label class="radio-inline"><input type="radio" name="type_status" value="new_apply">新申請</label>
            <label class="radio-inline"><input type="radio" name="type_status" value="get_cert">領證</label>
            <label class="radio-inline"><input type="radio" name="type_status" value="year_fee">年費</label>
            <label class="radio-inline"><input type="radio" name="type_status" value="extend_fee">延展</label>
            <label class="radio-inline" style="display: none"><input type="radio" name="type_status" value="mid_process"></label>
          </div>
        </div>
        <div class="form-group row normal_form">
          <label for="example-search-input" class="col-xs-2 col-form-label"><span class="required">*</span>國家</label>
          <div class="col-xs-10">
            <select class=" form-control selectpicker" name="type_region" value="TWN" id="region" data-live-search="true">
                    <option  value="XXX"></option>
                    <option  value="TUR">土耳其</option>
                    <option  value="CAF">中非共和國</option>
                    <option  value="CHN">中國</option>
                    <option  value="DNK">丹麥</option>
                    <option  value="BRA">巴西</option>
                    <option  value="PAN">巴拿馬</option>
                    <option  value="PSE">巴勒斯坦</option>
                    <option  value="PAK">巴基斯坦</option>
                    <option  value="JPN">日本</option>
                    <option  value="BEL">比利時</option>
                    <option  value="JAM">牙買加</option>
                    <option  value="ISR">以色列</option>
                    <option  value="CAN">加拿大</option>
                    <option  value="QAT">卡達</option>
                    <option  value="SWZ">史瓦濟蘭</option>
                    <option  data-tokens="台灣"value="TWN">台灣</option>
                    <option  value="NER">尼日</option>
                    <option  value="NIC">尼加拉瓜</option>
                    <option  value="NPL">尼泊爾</option>
                    <option  value="BFA">布吉納法索</option>
                    <option  value="GMB">甘比亞</option>
                    <option  value="BLR">白俄羅斯</option>
                    <option  value="PCN">皮特克恩</option>
                    <option  value="LTU">立陶宛</option>
                    <option  value="IRQ">伊拉克</option>
                    <option  value="ISL">冰島</option>
                    <option  value="HUN">匈牙利</option>
                    <option  value="IDN">印尼</option>
                    <option  value="IND">印度</option>
                    <option  value="TUV">吐瓦魯</option>
                    <option  value="DOM">多明尼加共和國</option>
                    <option  value="AGO">安哥拉</option>
                    <option  value="ETH">衣索匹亞</option>
                    <option  value="ESP">西班牙</option>
                    <option  value="ESH">西薩哈拉</option>
                    <option  value="HRV">克羅埃西亞</option>
                    <option  value="HND">宏都拉斯</option>
                    <option  value="GRC">希臘</option>
                    <option  value="SAU">沙烏地阿拉伯</option>
                    <option  value="BRN">汶萊</option>
                    <option  value="BLZ">貝里斯</option>
                    <option  value="BEN">貝南</option>
                    <option  value="GNQ">赤道幾內亞</option>
                    <option  value="ZWE">辛巴威</option>
                    <option  value="ARM">亞美尼亞</option>
                    <option  value="AZE">亞塞拜然</option>
                    <option  value="TZA">坦尚尼亞</option>
                    <option  value="NGA">奈及利亞</option>
                    <option  value="VEN">委內瑞拉</option>
                    <option  value="BGD">孟加拉國</option>
                    <option  value="ZMB">尚比亞</option>
                    <option  value="PLW">帛琉</option>
                    <option  value="LVA">拉脫維亞</option>
                    <option  value="TON">東加</option>
                    <option  value="TMP">東帝汶</option>
                    <option  value="PRI">波多黎各</option>
                    <option  value="POL">波蘭</option>
                    <option  value="FRA">法國</option>
                    <option  value="GIB">直布羅陀</option>
                    <option  value="KEN">肯亞</option>
                    <option  value="FIN">芬蘭</option>
                    <option  value="ARE">阿拉伯聯合大公國</option>
                    <option  value="ARG">阿根廷</option>
                    <option  value="OMN">阿曼</option>
                    <option  value="AFG">阿富汗</option>
                    <option  value="DZA">阿爾及利亞</option>
                    <option  value="ALB">阿爾巴尼亞</option>
                    <option  value="ABW">阿盧巴島</option>
                    <option  value="BGR">保加利亞</option>
                    <option  value="RUS">俄羅斯</option>
                    <option  value="ZAF">南非</option>
                    <option  value="ATA">南極洲</option>
                    <option  value="KOR">南韓</option>
                    <option  value="KAZ">哈薩克</option>
                    <option  value="KHM">柬埔寨</option>
                    <option  value="TCD">查德</option>
                    <option  value="BOL">玻利維亞</option>
                    <option  value="KWT">科威特</option>
                    <option  value="CCK">科科斯（奇林）群島</option>
                    <option  value="COM">科摩羅群島</option>
                    <option  value="TUN">突尼西亞</option>
                    <option  value="JOR">約旦</option>
                    <option  value="ASM">美洲薩摩亞</option>
                    <option  value="USA">美國</option>
                    <option  value="UMI">美屬群島</option>
                    <option  value="MRT">茅利塔尼亞</option>
                    <option  value="GBR">英國</option>
                    <option  value="IOT">英屬印度洋領地</option>
                    <option  value="VGB">英屬維京群島</option>
                    <option  value="GHA">迦納</option>
                    <option  value="HKG">香港</option>
                    <option  value="COD">剛果民主共和國</option>
                    <option  value="COG">剛果共和國</option>
                    <option  value="COL">哥倫比亞</option>
                    <option  value="CRI">哥斯大黎加</option>
                    <option  value="EGY">埃及</option>
                    <option  value="COK">庫克群島</option>
                    <option  value="CUW">庫拉索</option>
                    <option  value="NOR">挪威</option>
                    <option  value="GRL">格陵蘭</option>
                    <option  value="GRD">格瑞那達</option>
                    <option  value="THA">泰國</option>
                    <option  value="HTI">海地</option>
                    <option  value="UGA">烏干達</option>
                    <option  value="UKR">烏克蘭</option>
                    <option  value="URY">烏拉圭</option>
                    <option  value="UZB">烏茲別克斯坦</option>
                    <option  value="TCA">特克斯和凱克斯群島</option>
                    <option  value="REU">留尼旺島</option>
                    <option  value="PER">秘魯</option>
                    <option  value="SOM">索馬利亞</option>
                    <option  value="SLB">索羅門群島</option>
                    <option  value="NZL">紐西蘭</option>
                    <option  value="NIU">紐埃</option>
                    <option  value="NAM">納米比亞</option>
                    <option  value="MLI">馬利</option>
                    <option  value="MYS">馬來西亞</option>
                    <option  value="MKD">馬其頓</option>
                    <option  value="MWI">馬拉威</option>
                    <option  value="MYT">馬約特</option>
                    <option  value="MHL">馬紹爾群島</option>
                    <option  value="MTQ">馬提尼克島</option>
                    <option  value="MDG">馬達加斯加</option>
                    <option  value="MLT">馬爾他</option>
                    <option  value="MDV">馬爾地夫</option>
                    <option  value="FSM">密克羅西亞島</option>
                    <option  value="CZE">捷克共和國</option>
                    <option  value="VAT">梵蒂岡</option>
                    <option  value="MDA">莫多瓦</option>
                    <option  value="MOZ">莫桑比克</option>
                    <option  value="ANT">荷屬安的列斯群島</option>
                    <option  value="SXM">荷屬聖馬丁</option>
                    <option  value="NLD">荷蘭</option>
                    <option  value="BES">荷蘭加勒比區</option>
                    <option  value="TKL">麻城</option>
                    <option  value="BWA">博茨瓦納</option>
                    <option  value="CMR">喀麥隆</option>
                    <option  value="GEO">喬治亞共和國</option>
                    <option  value="GIN">幾內亞</option>
                    <option  value="GNB">幾內亞-比紹</option>
                    <option  value="FJI">斐濟</option>
                    <option  value="LKA">斯里南卡</option>
                    <option  value="SVK">斯洛伐克</option>
                    <option  value="SVN">斯洛維尼亞</option>
                    <option  value="CHL">智利</option>
                    <option  value="PHL">菲律賓</option>
                    <option  value="CIV">象牙海岸</option>
                    <option  value="VNM">越南</option>
                    <option  value="CYM">開曼群島</option>
                    <option  value="SEN">塞內加爾</option>
                    <option  value="SYC">塞席爾</option>
                    <option  value="SRB">塞爾維亞</option>
                    <option  value="TJK">塔吉克斯坦</option>
                    <option  value="AUT">奧地利</option>
                    <option  value="EST">愛沙尼亞</option>
                    <option  value="IRL">愛爾蘭</option>
                    <option  value="SGP">新加坡</option>
                    <option  value="NCL">新喀里多尼亞</option>
                    <option  value="SLE">獅子山</option>
                    <option  value="CHE">瑞士</option>
                    <option  value="SWE">瑞典</option>
                    <option  value="VUT">萬那杜</option>
                    <option  value="ITA">義大利</option>
                    <option  value="SMR">聖馬利諾</option>
                    <option  value="KNA">聖啟斯與尼維斯</option>
                    <option  value="SHN">聖赫勒拿島</option>
                    <option  value="CXR">聖誕島</option>
                    <option  value="LCA">聖露西亞</option>
                    <option  value="YEM">葉門</option>
                    <option  value="PRT">葡萄牙</option>
                    <option  value="FLK">福克蘭群島</option>
                    <option  value="VIR">維京群島（美）</option>
                    <option  value="CPV">維德角島</option>
                    <option  value="MNG">蒙古</option>
                    <option  value="LAO">寮國</option>
                    <option  value="DEU">德國</option>
                    <option  value="MAR">摩洛哥</option>
                    <option  value="MCO">摩納哥</option>
                    <option  value="MUS">模里西斯</option>
                    <option  value="MMR">緬甸</option>
                    <option  value="LBN">黎巴嫩</option>
                    <option  value="MEX">墨西哥</option>
                    <option  value="MAC">澳門</option>
                    <option  value="AUS">澳洲</option>
                    <option  value="RWA">盧安達</option>
                    <option  value="LUX">盧森堡</option>
                    <option  value="NFK">諾福克島</option>
                    <option  value="NRU">諾魯</option>
                    <option  value="LBR">賴比瑞亞</option>
                    <option  value="LSO">賴索托</option>
                    <option  value="CYP">賽普勒斯</option>
                    <option  value="SLV">薩爾瓦多</option>
                    <option  value="ROU">羅馬尼亞</option>
                    <option  value="GUM">關島</option>
                    <option  value="SUR">蘇里南</option>
                    <option  value="ZZZ">歐盟</option>
      </select>
          </div>
        </div>
        <div class="form-group row mid_form">
          <label for="example-number-input" class="col-xs-2 col-form-label"><span class="required">*</span>中間程序名</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" value="" name="mid_status_name" id="id_mid_status_name">
          </div>
        </div>
        <div class="form-group row other_form">
          <label for="example-number-input" class="col-xs-2 col-form-label"><span class="required">*</span>其他名稱</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" value="" name="type_others" id="id_type_others">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label"><span class="required">*</span>申請/服務費</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="service_fee" id="id_service_fee" onchange="refresh_report_price()">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">政府規費</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="gov_fee" id="id_gov_fee" onchange="refresh_report_price()">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label"><span class="required">*</span>律師費</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="attorney_fee" id="id_attorney_fee" onchange="refresh_report_price()">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label"><span class="required">*</span>利潤</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="profit" id="id_profit" onchange="refresh_report_price()">
          </div>
        </div>
        <!--<div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">稅金</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="" name="tax_fee" id="id_tax_fee" onchange="refresh_report_price()">
          </div>
        </div>-->
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">對外報價</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" placeholder="服務費＋規費＋律師費＋利潤" value="" name="report_price" id="id_report_price"
              readonly>
              <label for="example-number-input" style="color:brown" class="col-xs-10 col-form-label"> = 服務費＋規費＋律師費＋利潤</label>
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">說明</label>
          <div class="col-xs-10">
            <textarea class="form-control" rows="10" name="note" id="id_note"></textarea>
          </div>
        </div>
        <div class="form-group form-inline row">
          <label for="example-number-input" class="col-xs-2 col-form-label">所需期間</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" placeholder="3個月" name="min_month" id="id_min_month">
            <label class="">  到  </label>
            <input class="form-control" type="number" placeholder="6個月" name="max_month" id="id_max_month">
            <label class="">  個月 </label>
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">主張優先權加收</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="plus_priority" id="id_plus_priority">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">若實審加收</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="plus_real_check" id="id_plus_real_check">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">若指定國加收</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="plus_specific_country" id="id_plus_specific_country">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">公證費用加</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="plus_notarization" id="id_plus_notarization">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">案前檢索費加</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="plus_invalidity_search" id="id_plus_invalidity_search">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">讓渡費</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="plus_transfer" id="id_plus_transfer">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">翻譯費</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="plus_translation" id="id_plus_translation">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">加大實體費</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="plus_large_entity" id="id_plus_large_entity">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">加小實體費</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="plus_small_entity" id="id_plus_small_entity">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-number-input" class="col-xs-2 col-form-label">加微實體費</label>
          <div class="col-xs-10">
            <input class="form-control" type="number" value="0" name="plus_tiny_entity" id="id_plus_tiny_entity">
          </div>
        </div>
        <div class="container container-table">
        </div>
  <form>