include ../template/header.html
.wrapper.row2
    #breadcrumb.hoc.clear
        ul.upper_tag
        li 
            a(href="/") 成本檔案
        li 
            a(href="/cost/gen_cost") 產生成本檔案
        li 
            a(href="javascript:;") 選擇類型

script(src="/thirdparty/jquery-3.1.1/jquery-3.1.1.min.js")
link(href='/styles/layout.css', rel='stylesheet')
link(href='/thirdparty/bootstrap-3.3.7/css/bootstrap.min.css', rel='stylesheet')
include gen_cost.html
include ../template/footer.html
