<div id="mid_form_selection" class="wrapper row3" style="padding: 20px 20% 5px 20%; display:none">
      <article class="one_half first" id="a_pattern" style="cursor:-webkit-grabbing">
        <img class="btmspace-30" style="width: 320px;  height: 210px;"src="/images/demo/pattern.jpg" alt="" onclick="get_country('pattern')">
        <h4 class="nospace font-x2">Pattern</h4>
        <br>
        <p>專利是依據法律，保護發明者的權利，並透過對其運用而促進工業發展與發明。</p>
        
        <div id="list_country"></div>
      </article>
      <article class="one_half" id="a_trademark" style="cursor:-webkit-grabbing">
        <img class="btmspace-30" style="width: 320px;  height: 210px;"  src="/images/demo/trademark.jpg" alt="" onclick="get_country('trademark')">
        <h4 class="nospace font-x2">Trademark</h4>
        <br>
        <p>商標是識別某商品、服務或與其相關具體個人或企業的顯著標誌，可以是圖形或文字，也可以聲音、氣味或立體圖像來表示。</p>
        <div id="list_country"></div>
      </article>
</div>