include ../template/header.html
head
     //     <!-- Latest compiled and minified JavaScript -->
    script(src="/thirdparty/jquery-3.1.1/jquery-3.1.1.min.js")
    script(src="/thirdparty/bootstrap-3.3.7/js/bootstrap.min.js")
    script(src="/thirdparty/jquery-ui-1.12.1.auto/js/jquery-ui.min.js")
    //      <!-- coustome  -->  
    script(src="/utils/country.js")
    script(src="/actions/cost_gen.js")
    //      <!-- Latest compiled and minified CSS -->
    link(href="/styles/layout.css", rel='stylesheet')
    link(href="/thirdparty/bootstrap-3.3.7/css/bootstrap.min.css", rel='stylesheet')
    link(href="/thirdparty/bootstrap-3.3.7/css/bootstrap-theme.min.css", rel='stylesheet')
    link(href="/thirdparty/jquery-ui-1.12.1.auto/css/jquery-ui.min.css", rel='stylesheet')

.wrapper.row2
    #breadcrumb.hoc.clear
        ul.upper_tag
        li 
            a(href="/") 成本檔案
        li 
            a(href="/cost/gen_cost") 產生成本檔案
        li 
            a(href="javascript:;" id="level_3") 
div(id='form_type') #{form_type}

body(id='type')
    div.bgded.overlay
    div.wrapper.row3
        main.hoc.container.clear
            h3#form_title 產生成本檔案
            br
            br
            br
            if form_type
                include gen_cost_type_mid.html
                include cost_form.html
            else
                include cost_form.html
            input#add_cost_info.col-md-4.col-md-offset-4.btn-primary.btn-lg(type="button", value="新增成本檔案")


include ../template/footer.html
