include ../template/header.html
header
    title 產生正式委任檔
    <!-- Latest compiled and minified JavaScript -->
    script(src="/thirdparty/jquery-3.1.1/jquery-3.1.1.min.js")       
    script(src="/thirdparty/bootstrap-3.3.7/js/bootstrap.min.js")
    script(src="/thirdparty/jquery-ui-1.12.1.auto/js/jquery-ui.min.js")
    script(src="/thirdparty/bootstrap-select/js/bootstrap-select.min.js")
    script(src="/thirdparty/jsgrid-1.5.3/jsgrid.min.js")
    script(src="/thirdparty/jquery-validation-1.15.0/jquery.validate.min.js")
    script(src="/thirdparty/jquery-validation-1.15.0/additional-methods.min.js")

    <!-- coustome  -->  
    script(src="/utils/country.js")
    script(src="/actions/cost_view.js")
    script(src="/utils/word_map.js")
    script(src="/utils/common_ui.js")
 
    <!-- Latest compiled and minified CSS -->
    link(href="/styles/layout.css", rel='stylesheet')
    link(href="/thirdparty/bootstrap-3.3.7/css/bootstrap.min.css", rel='stylesheet')
    link(href="/thirdparty/bootstrap-3.3.7/css/bootstrap-theme.min.css", rel='stylesheet')
    link(href="/thirdparty/jquery-ui-1.12.1.auto/css/jquery-ui.min.css", rel='stylesheet')
    link(href="/thirdparty/jsgrid-1.5.3/jsgrid.min.css", rel='stylesheet')
    link(href="/thirdparty/jsgrid-1.5.3/jsgrid-theme.min.css", rel='stylesheet')




.wrapper.row2
    #breadcrumb.hoc.clear
        ul.upper_tag
        li 
            a(href="/") 成本檔案
        li 
            a(href="/cost/view_cost") 查詢與修改成本檔案

include view_cost.html
include ../template/footer.html
