<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><i class="fa fa-phone"></i> +886 919998345</li>
        <li><i class="fa fa-envelope-o"></i> jitthsu@gmail.com</li>
      </ul>
    </div>
  </div>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left">
      <h1><a href="../"> 合曜國際專利商標事務所 </a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/index.html">Home</a></li>
        <li><a class="drop" href="#">報價單</a>
          <ul>
            <li><a href="/quotation/gen_quotation_pattern">產生專利報價單</a></li>
            <li><a href="/quotation/gen_quotation_trademark">產生商標報價單</a></li>
            <li><a href="/quotation/gen_quotation_others">產生其他報價單</a></li>
            <li><a href="/quotation/view_quotation_unfinished">查詢與修改報價單</a></li>
            <li><a href="/quotation/view_quotation_finished">已完成報價單</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">正式委任單</a>
          <ul>
            <li><a href="/deal/view_deal_all">所有委任單</a></li>
            <li><a href="/deal/view_deal_not_apply">委任單-未請款</a></li>
            <li><a href="/deal/view_deal_not_finished">委任單-未結案</a></li>
            <li><a href="/deal/view_deal_not_paid">委任單-已請款未付款</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">成本檔案</a>
          <ul>
            <li><a href="/cost/gen_cost">新增成本檔</a></li>
            <li><a href="/cost/view_cost">查詢與修改成本檔</a></li>
            <!--<li><a href="/cost/revise_cost">修正成本檔案</a></li>-->
          </ul>
        </li>
        <!--<li><a href="#">其他</a></li>-->
      </ul>
    </nav>
  </header>
</div>
<div id="le-alert" style="text-align:center" class="alert-danger alert-block fade">
  <strong>Danger!</strong> 不建議在IE瀏覽器下操作
</div>